
body{
font-family:Arial;
margin:0;
background:#f8f8f8;
text-align:center;
}

header{
background:#ff4d6d;
color:white;
padding:30px;
}

.hero{
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
padding:40px;
background:white;
}

.product-img{
width:300px;
margin:20px;
border-radius:10px;
}

.product-info{
max-width:400px;
margin:20px;
}

button{
background:#000;
color:white;
border:none;
padding:12px 25px;
font-size:16px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#ff4d6d;
}

.features{
padding:40px;
}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:white;
margin:15px;
padding:20px;
width:200px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

footer{
background:#111;
color:white;
padding:20px;
}
